body {
  font-family: Arial;
  margin: 0;
  background: #f2f2f2;
}

header {
  padding: 60px;
  background: #111;
  color: white;
  text-align: center;
}

section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
  background: white;
  margin-top: 20px;
  border-radius: 10px;
}
